body {
    background: #686661;
}

.hero-section {
    background: url("https://static.billboard.com/files/media/music-crowd-concert-stock-2018-u-billboard-1548-compressed.jpg") 50% no-repeat;
    background-size: cover;
    height: 35vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.6;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 2px 2px 2px #0a0a0a;
    padding-bottom: 10%;
    letter-spacing: 1.5px;
}


.tabbed-search {
    background: none;
    border: none;
    position: relative;
    top: -59px;
}

.tabbed-search-content {
    position: relative;
    top: -59px;
    background: #43403a;
    border: none;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.tabbed-search-content label {
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #efefef;
    letter-spacing: 0.5px;
    color: #efefef;
    background: #43403a;
    float: left;
    padding: 0 10px;

}

.tabbed-search-content input[type=text] {
    margin-top: 15px;
    background: #2d2b27;
    color: white;
    border: 1px solid #7a7469;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 15px;

}

.tabbed-search-content input[type=date] {
    margin-top: 15px;
    background: #2d2b27;
    color: white;
    border: 1px solid #7a7469;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 15px;

}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content input[type=text] {
        margin-top: 0px;
    }
}

.tabbed-search-content select {
    margin-top: 15px;
    background: #2d2b27;
    color: white;
    border: 1px solid #7a7469;
    border-radius: 3px;
    font-weight: 400;
    padding-left: 15px;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content select {
        margin-top: 0px;
    }
}

.tabbed-search-content .button.search-button {
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
    margin-top: 15px;
}

@media screen and (max-width: 39.9375em) {
    .tabbed-search-content .button.search-button {
        margin-top: 0px;
    }
}

.tabbed-search-content .button.search-button i {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-top: -2px;
}

.tabs-title>a {
    color: #fff;
    font-size: 1em;
    background: #3e5c95;
    opacity: 0.9;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected='true'] {
    color: #fff;
    background: #43403a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-title>a:hover {
    color: #fff;
    background: #43403a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-title>a {
    padding: 1em 1.25em;
}

.eventList {
    float: left;
    width: 60%;
}


#map {
    height: 100%;
}

#mapArea {
    float: left;
    height: 80vh;
    width: 31vw;
    margin-left: 2%;
    border: 5px solid #dbdad6;

}

.eventList {
    float: left;
    border: 1px solid #7a7469;
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    margin-left: 2%;
    padding: 15px
}

.eventList a {
    color: #0df3dd
}

#eventsListTitle {
    float: left;
    /* border: 1px solid #7a7469; */
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    margin-left: 2%;
    padding: 15px
}


.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 0.5 rem;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    float: right;
}

.button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 2px solid #115b8d;
    content: '';
    border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
    background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0.25;
}